@media (max-width: 1370px){
    img{
        height: 625px;
    }
}

@media (max-width: 970px){
    img{
        height: 500px;
    }
    
}

@media (max-width: 620px){
    img{
        height: 350px;
    }
    
    .filtros{
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 500px){
    img{
        height: 285px;
    }
    
}

@media (max-width: 375px){
    img{
        height: 240px;
    }
    
}