@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --cor-fundo: #f2fcff;
    --cor-titulo: #4e6ad3;
    --cor-texto: #242323;
    --cor-botao: #4e6ad3;
    --cor-botao-hover: #90b3ff;
}

.dark-mode{
    --cor-fundo: #121212;
    --cor-titulo: #8697d6;
    --cor-texto: #e1e1e1;
    --cor-botao: #8697d6;
    --cor-botao-hover: #9fb3ff;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    font-family: Arial, Helvetica, sans-serif;
}

.dark-mode-button {
    display: flex;
    justify-content: right;
}

#dark-mode-toggle {
    border: none;
    cursor: pointer;
    background-color: var(--cor-botao);
    color: white;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, transform 0.2s;
}

#dark-mode-toggle:hover {
    background-color: var(--cor-botao-hover);
    transform: scale(1.1);
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: "Montserrat", sans-serif;
    color: var(--cor-titulo);
    font-size: 50px;
}

.filtros {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.filtro {
    padding: 10px;
    margin: 5px;
    border: none;
    cursor: pointer;
    background-color: var(--cor-botao);
    color: white;
    border-radius: 5px;
}

.filtro:hover{
    background-color: var(--cor-botao-hover);
}

.filtro.desativado {
    background-color: #aaa;
    color: #fff;
    opacity: 0.6;
}

.filtro.desativado:hover{
    background-color: #838383;
}

li {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 7%;
}

::-webkit-scrollbar {
    background-color: var(--cor-fundo);
}

::-webkit-scrollbar-thumb {
    background-color: var(--cor-botao);
}

::-webkit-scrollbar-thumb:active {
    background-color: var(--cor-botao-hover);
}

img {
    height: 750px;
    width: 97%;
    margin-top: 1%;
}
